header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 6vh;
  font-weight: 500;
}
.sound-btn {
  font-size: 1.05rem;
  cursor: pointer;
  padding: 0.5rem 0;
}
