header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 6vh;
  font-weight: 500;
  position: relative;
  background-color: #fff;
  z-index: 10;
}
.sound-btn,
.more-color {
  font-size: 1.05rem;
  cursor: pointer;
  padding: 0.5rem 0;
}
.more-color {
  width: 200px;
  text-align: right;
}
.menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #ebf7ff;
  z-index: 1;
  width: 220px;
  padding: 5rem 0;
  font-weight: 500;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 30px 10px #00000024;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  cursor: pointer;
  padding: 0.5rem 2rem;
}
