footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 6vh;
  background-color: #fff;
  position: relative;
  z-index: 10;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .inspir {
    display: none;
  }
  footer {
    justify-content: center;
  }
}
